
.sobre {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease;
}

.sobre:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.lamina {
    height: 250px;
}

.sobre-bloqueado
{
    background-color: #FF7B7B;
}